.list {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    list-style: none; 
}

.list__item {
    margin-inline: 11%;
}

.cont {
    margin-block: 10px;
    width: 300px;
}