.cont {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    padding-inline: 30px;
    margin-block: 25px;
}
.cont2{
    width: 550px;
    height: auto;
}